@page
@model LeVietHungRazorPages.Pages.RoomManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Room Information</h2>
<div>
    <form method="get">
        <input asp-for="SearchString" type="text" />
        <input type="submit" value="Filter" />
    </form>
</div>
<table class="table table-hover mt-4">
    <thead style="background-color: #2d3748; color: white">
        <tr>
            <th style="width: 140px">
                Room Number
            </th>
            <th>
                RoomDetail Description
            </th>
            <th style="width: 170px">
                Room Max Capacity
            </th>
            <th style="width: 125px">
                Room Status
            </th>
            <th style="width: 170px">
                Room Price PerDay
            </th>
            <th style="width: 140px">
                Room Type
            </th>
            <th>Booking</th>
        </tr>
    </thead>
    <tbody id="roomStatusTable">
        @foreach (var item in Model.RoomInformation)
        {
            <tr id="room-@item.RoomId" class="room-row @(item.RoomStatus == 1 ? "" : "d-none")">
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomDetailDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomMaxCapacity)
                </td>
                <td>
                    @if(item.RoomStatus == 1)
                    {
                        <div style="background-color: #d6f0e0;
                                    font-weight: 600;
                                    color: #0d6832;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 18px;">
                            Available
                        </div>
                    }
                    else
                    {
                        <div style="font-weight: 600;
                                    height: 30px;
                                    background-color: #fbf0da;
                                    color: #73510d;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 18px;">
                            Not Available
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPricePerDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
                </td>
                <td>
                    <input style="margin-left: 25px; margin-top: 10px" type="checkbox" name="selectedRooms" value="@item.RoomId" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button class="btn btn-secondary" type="button" onclick="redirectToBookingDetail()">Booking Detail</button>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder().withUrl("/roomHub").build();

        connection.on("ReceiveRoomUpdate", function (roomId, status) {
            const row = document.getElementById(`room-${roomId}`);
            if (row) {
                const statusCell = row.querySelector('td:nth-child(4) span');
                statusCell.innerText = status === 1 ? 'Available' : 'Not Available';
                if (status === 1) {
                    row.classList.remove("d-none");
                } else {
                    row.classList.add("d-none");
                }
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function redirectToBookingDetail() {
            var selectedRooms = [];
            var checkboxes = document.querySelectorAll('input[name="selectedRooms"]:checked');
            checkboxes.forEach(function (checkbox) {
                selectedRooms.push(parseInt(checkbox.value)); // Chuyển giá trị RoomId sang kiểu số nguyên
            });
            console.log(selectedRooms)
            // Chuyển hướng sang trang Booking Detail và truyền các RoomId đã chọn
            window.location.href = '/BookingDetail?SelectedRoomIds=' + selectedRooms.join(',');
            console.log('/BookingDetail?SelectedRoomIds=' + selectedRooms.join(','))
        }
    </script>
}
