@page
@model LeVietHungRazorPages.Pages.ReservationManagement.IndexModel
@{
}

<h1>Reservation History</h1>
@if (Model.Customer != null)
{
    <h1>@Model.Customer.CustomerFullName</h1>
}
<table class="table table-hover mt-4">
    <thead style="background-color: #2d3748; color: white">
        <tr>
            <th style="width: 320px">
                Booking Reservation ID
            </th>
            <th style="width: 250px">
                Booking Date
            </th>
            <th style="width: 250px">
                Total Price (VND)
            </th>
            <th style="width: 250px">
                Booking Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookingReservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingReservationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStatus)
                </td>
                <td>
                    <a asp-page="/ReservationManagement/Detail" asp-route-id="@item.BookingReservationId">Details</a>
                    @if (item.BookingStatus == 0)
                    {
                        <a asp-page="/ReservationManagement/Index" asp-route-id="@item.BookingReservationId"> <span class="text-black">|</span> Reservation</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script type="text/javascript">
        const connection = new signalR.HubConnectionBuilder().withUrl("/roomHub").build();

        connection.on("ReceiveRoomUpdate", function (roomId, status) {
            window.location.reload();
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    </script>
}


